body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  overflow-x: hidden; /* Prevent horizontal overflow if needed */
}

/* App.css */

/* Reduce the size of the project cards */
.project-card {
  max-width: 400px;  /* Set a max width to make the card more compact */
  height: auto;
}

/* Images styling */
.project-card img {
  object-fit: cover;
  height: 150px;
  width: 100%;
  border-radius: 0.5rem; /* Keep the image edges rounded */
}

/* Hover animation */
.project-card:hover {
  transition: transform 0.3s ease-in-out;
}

/* Align project card content */
.project-card .flex {
  align-items: center;
}
