/* Layout.css */
.stars {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  .star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: twinkling 1.5s infinite alternate;
  }
  
  @keyframes twinkling {
    0% { opacity: 0.5; }
    100% { opacity: 1; }
  }
  